.reading-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.writer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.user-name small {
    margin-top: -5px;
}

.break {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .writer-info {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .reading-container {
        display: block;
        padding-left: 90px;
    }
}